<div class="container">
  <div class="main-video">
    <div class="video">
      <video [src]="selectedVideo?.src" controls muted></video>
    </div>
  </div>
  <div class="video-list">

    @for (item of videos; track $index) {
    @if (item.src) {
    <div class="vid" (click)="selectVideo(item, $index)" [class.active]="$index === activeIndex"><video [src]="item.src"
        muted></video>
      <button class="btn btn-danger p-2" (click)="deleteVideoByAuthor($index)"><i
          class="fa-solid fa-trash"></i></button>
    </div>
    } @else {
    <div>Video is in process...</div>
    }
    }
  </div>
</div>