<!-- <div class="container d-flex justify-content-center align-items-center">
  <div class="card w-600">

  </div>
  <div class="card m-3 p-4 w-50">
    <div class="row g-3">
      <div class="card-body">
        <h5 class="card-title">Write your promt down</h5>
        <div class="input-group p-3">
          <textarea class="form-control" [(ngModel)]="videoSettings.text" placeholder="Type promt" cols="2" rows="5"
            style="overflow-y: auto; resize: none;"></textarea>
        </div>

      </div>
      <select [(ngModel)]="videoSettings.language" class="form-select pd-3" aria-label="Default select example">
        <option selected>Choose the language</option>
        <option value="en">English</option>
        <option value="ru">Russian</option>
      </select>
      <select [(ngModel)]="videoSettings.speaker_wav" class="form-select pd-3" aria-label="Default select example">
        <option selected>Choose the voice</option>
        <option value="./voices/xtts/english1.wav">English1</option>
        <option value="./voices/xtts/english2.wav">English2</option>
        <option value="./voices/xtts/russian1.wav">Rus1</option>
      </select>
      <input type="number" [(ngModel)]="videoSettings.volume" class="form-control">
      <select class="form-select pd-3" aria-label="Default select example">
        <option selected>Choose Shape</option>
        <option value="1">16:9</option>
        <option value="2">16:10</option>
        <option value="3">4:3</option>
      </select>
      <button class="btn btn-success mt-2" (click)='onGenerate()'>Generate</button>

      <button (click)="getVideoById('f02c7163')" class="btn btn-success mt-2">Show the
        video</button>
    </div>
  </div>
</div> -->